<div class="card">
  <div class="card-body">
    <div class="card-title"></div>

    <form [formGroup]="formulario" (ngSubmit)="autenticate()">
      <div class="mt-2">
        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
      </div>
      <div class="mt-2">
        <input type="password" class="form-control" placeholder="Senha" formControlName="senha">
      </div>
      <div class="d-grid mt-2">
        <button type="submit" class="btn btn-primary" [disabled]="submitDisabled">Entrar</button>
      </div>
    </form>

    <div *ngIf="error !== undefined">
      <hr>
      <p class="small text-danger text-center">{{ error }}</p>
    </div>

  </div>
</div>
<div class="card mt-4">
  <div class="card-body">
    <p class="card-text">
      Não tem uma conta? <a href="#" (click)="exibirPainelCadastro()" class="card-link">Cadastre-se</a>
    </p>
  </div>
</div>