<nav class="navbar navbar-default bg-white py-0 my-0 mb-5 border-bottom">
  <div class="container py-2">
    <div class="col-md-4 col-4 ms-0 mr-auto">
      <a class="text-start img-logo" href="/home">
        <img alt="Instagram" src="assets/logo-2.png" class="img-fluid">
      </a>
    </div>
    <div class="col-md-4 col-2 ml-auto me-0 text-end">
      <a class="text-end mx-auto" href="#" data-bs-toggle="modal" data-bs-target="#modalIncluir">
        <img alt="Incluir" src="assets/camera.png" class="btn-incluir h-50 img-fluid" id="btn_incluir">						
      </a>
      <a href="#" (click)="logOut()" class="mx-3 text-decoration-none text-danger">Sair</a>
    </div>
  </div>
</nav>

<div class="container">
  <app-publicacoes></app-publicacoes>
</div>